.event {
  text-align: center;
  height: 100vh;
  width: 70%;
  margin: 0 auto;
  @media screen and (max-width: 850px) {
    width: 90%;
    height: auto;
  }

  .pre-title {
    @include pre-title;
    font-size: 3rem;
  }
  .title {
    @include title;
    font-size: 2rem;
  }

  h3 {
    font-family: $fontRoboto-light;
    letter-spacing: 3px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px grey;
    color: $colorbackground;
    @media screen and (max-width: 800px) {
      font-size: 1rem;
    }
  }
  .location {
    display: flex;
    flex-direction: column;

    color: grey;
    font-family: $fontRoboto-light;
    font-size: 1.2rem;
    letter-spacing: 3px;
    margin: 40px 0;
    @media screen and (max-width: 800px) {
      font-size: 1rem;
    }
  }
  p {
    color: $colorbackground;
    font-family: $fontRoboto-light;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
    @media screen and (max-width: 800px) {
      font-size: 0.7rem;
    }
  }

  img {
    margin: 30px 0 40px;
  }

  .event-container {
    width: 98%;
    height: 70%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "to rig"
      "bot rig";
    gap: 35px;
    @media screen and (max-width: 650px) {
      display: inline-block;
    }

    .event-top {
      display: grid;
      grid-template-columns: 40% 60%;
      align-items: center;
      grid-area: to;
      @media screen and (max-width: 650px) {
        margin-bottom: 10px;
      }

      .event-left-part {
        height: 100%;
        width: 100%;
        background: url(../img/event-01.jpg) center/cover;
        display: flex;
        justify-content: center;
        align-items: center;

        .event-left-part-center {
          padding: 10px 30px;
          background: $colorbackground;
          color: $colorwhite;
          font-family: $fontPoppins;
          font-size: 1.5rem;
          @media screen and (max-width: 800px) {
            font-size: 1.2rem;
          }

          .numdate {
            font-size: 3rem;
            @media screen and (max-width: 800px) {
              font-size: 2rem;
            }
          }
        }
      }
      .event-left-part-right {
        background: $colorwhite;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .event-bottom {
      display: grid;
      grid-template-columns: 40% 60%;
      align-items: center;
      grid-area: bot;
      @media screen and (max-width: 650px) {
        margin-bottom: 10px;
      }

      .event-bottom-part {
        height: 100%;
        width: 100%;
        background: url(../img/event-02.jpg) center/cover;
        display: flex;
        justify-content: center;
        align-items: center;

        .event-bottom-part-center {
          padding: 10px 30px;
          background: $colorbackground;
          color: $colorwhite;
          font-family: $fontPoppins;
          font-size: 1.5rem;
          @media screen and (max-width: 800px) {
            font-size: 1.2rem;
          }

          .numdate {
            font-size: 3rem;
            @media screen and (max-width: 800px) {
              font-size: 2rem;
            }
          }
        }
      }
      .event-bottom-part-right {
        background: $colorwhite;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .event-right {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: rig;
      background: url(../img/event-03.jpg) center/cover;
      @media screen and (max-width: 650px) {
        height: 500px;
      }

      .event-right-part-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 85%;
        height: 85%;
        background: $colorwhite;
        position: relative;

        .event-right-part-container-center {
          background: $colorbackground;
          color: $colorwhite;
          font-family: $fontPoppins;
          font-size: 1.5rem;
          padding: 10px 30px;
          position: absolute;
          top: 0;
          @media screen and (max-width: 800px) {
            font-size: 1.2rem;
          }

          .numdate {
            font-size: 3rem;
            @media screen and (max-width: 800px) {
              font-size: 2rem;
            }
          }
        }

        .event-right-part-text {
          position: absolute;
          top: 150px;
        }
      }
    }
  }
}
